Service/PizzaServices/bin/Debug/netcoreapp3.1/appsettings.Development.json
Service/PizzaServices/bin/Debug/netcoreapp3.1/appsettings.json
Service/PizzaServices/bin/Debug/netcoreapp3.1/DryIoc.dll
Service/PizzaServices/bin/Debug/netcoreapp3.1/DryIoc.Microsoft.DependencyInjection.dll
Service/PizzaServices/bin/Debug/netcoreapp3.1/Microsoft.Bcl.AsyncInterfaces.dll
Service/PizzaServices/bin/Debug/netcoreapp3.1/Microsoft.Bcl.HashCode.dll
Service/PizzaServices/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.Abstractions.dll
Service/PizzaServices/bin/Debug/netcoreapp3.1/Microsoft.EntityFrameworkCore.dll
Service/PizzaServices/bin/Debug/netcoreapp3.1/PizzaStoreManagement.API.deps.json
Service/PizzaServices/bin/Debug/netcoreapp3.1/PizzaStoreManagement.API.dll
Service/PizzaServices/bin/Debug/netcoreapp3.1/PizzaStoreManagement.API.exe
Service/PizzaServices/bin/Debug/netcoreapp3.1/PizzaStoreManagement.API.pdb
Service/PizzaServices/bin/Debug/netcoreapp3.1/PizzaStoreManagement.API.runtimeconfig.dev.json
Service/PizzaServices/bin/Debug/netcoreapp3.1/PizzaStoreManagement.API.runtimeconfig.json
Service/PizzaServices/bin/Debug/netcoreapp3.1/PizzaStoreManagement.Common.dll
Service/PizzaServices/bin/Debug/netcoreapp3.1/PizzaStoreManagement.Common.pdb
Service/PizzaServices/bin/Debug/netcoreapp3.1/PizzaStoreManagement.Repository.dll
Service/PizzaServices/bin/Debug/netcoreapp3.1/PizzaStoreManagement.Repository.pdb
Service/PizzaServices/bin/Debug/netcoreapp3.1/PizzaStoreManagement.Services.dll
Service/PizzaServices/bin/Debug/netcoreapp3.1/PizzaStoreManagement.Services.pdb
Service/PizzaServices/bin/Debug/netcoreapp3.1/Properties/launchSettings.json
Service/PizzaServices/obj/PizzaServices.csproj.nuget.dgspec.json
Service/PizzaServices/obj/PizzaServices.csproj.nuget.g.props
Service/PizzaServices/obj/PizzaServices.csproj.nuget.g.targets
Service/PizzaServices/obj/PizzaStoreManagement.API.csproj.nuget.dgspec.json
Service/PizzaServices/obj/PizzaStoreManagement.API.csproj.nuget.g.props
Service/PizzaServices/obj/PizzaStoreManagement.API.csproj.nuget.g.targets
Service/PizzaServices/obj/project.assets.json
Service/PizzaServices/obj/project.nuget.cache
Service/PizzaServices/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Service/PizzaServices/obj/Debug/netcoreapp3.1/apphost.exe
Service/PizzaServices/obj/Debug/netcoreapp3.1/PizzaServices.AssemblyInfo.cs
Service/PizzaServices/obj/Debug/netcoreapp3.1/PizzaServices.AssemblyInfoInputs.cache
Service/PizzaServices/obj/Debug/netcoreapp3.1/PizzaServices.assets.cache
Service/PizzaServices/obj/Debug/netcoreapp3.1/PizzaServices.csprojAssemblyReference.cache
Service/PizzaServices/obj/Debug/netcoreapp3.1/PizzaStoreManagement.API.AssemblyInfo.cs
Service/PizzaServices/obj/Debug/netcoreapp3.1/PizzaStoreManagement.API.AssemblyInfoInputs.cache
Service/PizzaServices/obj/Debug/netcoreapp3.1/PizzaStoreManagement.API.assets.cache
Service/PizzaServices/obj/Debug/netcoreapp3.1/PizzaStoreManagement.API.csproj.CopyComplete
Service/PizzaServices/obj/Debug/netcoreapp3.1/PizzaStoreManagement.API.csproj.CoreCompileInputs.cache
Service/PizzaServices/obj/Debug/netcoreapp3.1/PizzaStoreManagement.API.csproj.FileListAbsolute.txt
Service/PizzaServices/obj/Debug/netcoreapp3.1/PizzaStoreManagement.API.csprojAssemblyReference.cache
Service/PizzaServices/obj/Debug/netcoreapp3.1/PizzaStoreManagement.API.dll
Service/PizzaServices/obj/Debug/netcoreapp3.1/PizzaStoreManagement.API.exe
Service/PizzaServices/obj/Debug/netcoreapp3.1/PizzaStoreManagement.API.genruntimeconfig.cache
Service/PizzaServices/obj/Debug/netcoreapp3.1/PizzaStoreManagement.API.MvcApplicationPartsAssemblyInfo.cache
Service/PizzaServices/obj/Debug/netcoreapp3.1/PizzaStoreManagement.API.pdb
Service/PizzaServices/obj/Debug/netcoreapp3.1/PizzaStoreManagement.API.RazorTargetAssemblyInfo.cache
Service/PizzaServices/obj/Debug/netcoreapp3.1/staticwebassets/PizzaStoreManagement.API.StaticWebAssets.Manifest.cache
Service/PizzaServices/obj/Debug/netcoreapp3.1/staticwebassets/PizzaStoreManagement.API.StaticWebAssets.xml
Service/PizzaStoreManagement.Services/obj/PizzaStoreManagement.Services.csproj.nuget.dgspec.json
Service/PizzaStoreManagement.Services/obj/PizzaStoreManagement.Services.csproj.nuget.g.props
Service/PizzaStoreManagement.Services/obj/PizzaStoreManagement.Services.csproj.nuget.g.targets
Service/PizzaStoreManagement.Services/obj/project.assets.json
Service/PizzaStoreManagement.Services/obj/project.nuget.cache
Service/PizzaStoreManagement.Services/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Service/PizzaStoreManagement.Services/obj/Debug/netcoreapp3.1/PizzaStoreManagement.Services.AssemblyInfo.cs
Service/PizzaStoreManagement.Services/obj/Debug/netcoreapp3.1/PizzaStoreManagement.Services.AssemblyInfoInputs.cache
Service/PizzaStoreManagement.Services/obj/Debug/netcoreapp3.1/PizzaStoreManagement.Services.assets.cache
Service/PizzaStoreManagement.Services/obj/Debug/netcoreapp3.1/PizzaStoreManagement.Services.csproj.CopyComplete
Service/PizzaStoreManagement.Services/obj/Debug/netcoreapp3.1/PizzaStoreManagement.Services.csproj.CoreCompileInputs.cache
Service/PizzaStoreManagement.Services/obj/Debug/netcoreapp3.1/PizzaStoreManagement.Services.csproj.FileListAbsolute.txt
Service/PizzaStoreManagement.Services/obj/Debug/netcoreapp3.1/PizzaStoreManagement.Services.csprojAssemblyReference.cache
Service/PizzaStoreManagement.Services/obj/Debug/netcoreapp3.1/PizzaStoreManagement.Services.dll
Service/PizzaStoreManagement.Services/obj/Debug/netcoreapp3.1/PizzaStoreManagement.Services.pdb
Service/PizzaStoreManagement.Services/bin/Debug/netcoreapp3.1/PizzaStoreManagement.Common.dll
Service/PizzaStoreManagement.Services/bin/Debug/netcoreapp3.1/PizzaStoreManagement.Common.pdb
Service/PizzaStoreManagement.Services/bin/Debug/netcoreapp3.1/PizzaStoreManagement.Repository.dll
Service/PizzaStoreManagement.Services/bin/Debug/netcoreapp3.1/PizzaStoreManagement.Repository.pdb
Service/PizzaStoreManagement.Services/bin/Debug/netcoreapp3.1/PizzaStoreManagement.Services.deps.json
Service/PizzaStoreManagement.Services/bin/Debug/netcoreapp3.1/PizzaStoreManagement.Services.dll
Service/PizzaStoreManagement.Services/bin/Debug/netcoreapp3.1/PizzaStoreManagement.Services.pdb
Service/PizzaStoreManagement.Repository/obj/PizzaStoreManagement.Repository.csproj.nuget.dgspec.json
Service/PizzaStoreManagement.Repository/obj/PizzaStoreManagement.Repository.csproj.nuget.g.props
Service/PizzaStoreManagement.Repository/obj/PizzaStoreManagement.Repository.csproj.nuget.g.targets
Service/PizzaStoreManagement.Repository/obj/project.assets.json
Service/PizzaStoreManagement.Repository/obj/project.nuget.cache
Service/PizzaStoreManagement.Repository/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Service/PizzaStoreManagement.Repository/obj/Debug/netcoreapp3.1/PizzaStoreManagement.Repository.AssemblyInfo.cs
Service/PizzaStoreManagement.Repository/obj/Debug/netcoreapp3.1/PizzaStoreManagement.Repository.AssemblyInfoInputs.cache
Service/PizzaStoreManagement.Repository/obj/Debug/netcoreapp3.1/PizzaStoreManagement.Repository.assets.cache
Service/PizzaStoreManagement.Repository/obj/Debug/netcoreapp3.1/PizzaStoreManagement.Repository.csproj.CopyComplete
Service/PizzaStoreManagement.Repository/obj/Debug/netcoreapp3.1/PizzaStoreManagement.Repository.csproj.CoreCompileInputs.cache
Service/PizzaStoreManagement.Repository/obj/Debug/netcoreapp3.1/PizzaStoreManagement.Repository.csproj.FileListAbsolute.txt
Service/PizzaStoreManagement.Repository/obj/Debug/netcoreapp3.1/PizzaStoreManagement.Repository.csprojAssemblyReference.cache
Service/PizzaStoreManagement.Repository/obj/Debug/netcoreapp3.1/PizzaStoreManagement.Repository.dll
Service/PizzaStoreManagement.Repository/obj/Debug/netcoreapp3.1/PizzaStoreManagement.Repository.pdb
Service/PizzaStoreManagement.Repository/bin/Debug/netcoreapp3.1/PizzaStoreManagement.Common.dll
Service/PizzaStoreManagement.Repository/bin/Debug/netcoreapp3.1/PizzaStoreManagement.Common.pdb
Service/PizzaStoreManagement.Repository/bin/Debug/netcoreapp3.1/PizzaStoreManagement.Repository.deps.json
Service/PizzaStoreManagement.Repository/bin/Debug/netcoreapp3.1/PizzaStoreManagement.Repository.dll
Service/PizzaStoreManagement.Repository/bin/Debug/netcoreapp3.1/PizzaStoreManagement.Repository.pdb
Service/PizzaStoreManagement.Common/obj/PizzaStoreManagement.Common.csproj.nuget.dgspec.json
Service/PizzaStoreManagement.Common/obj/PizzaStoreManagement.Common.csproj.nuget.g.props
Service/PizzaStoreManagement.Common/obj/PizzaStoreManagement.Common.csproj.nuget.g.targets
Service/PizzaStoreManagement.Common/obj/project.assets.json
Service/PizzaStoreManagement.Common/obj/project.nuget.cache
Service/PizzaStoreManagement.Common/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
Service/PizzaStoreManagement.Common/obj/Debug/netcoreapp3.1/PizzaStoreManagement.Common.AssemblyInfo.cs
Service/PizzaStoreManagement.Common/obj/Debug/netcoreapp3.1/PizzaStoreManagement.Common.AssemblyInfoInputs.cache
Service/PizzaStoreManagement.Common/obj/Debug/netcoreapp3.1/PizzaStoreManagement.Common.assets.cache
Service/PizzaStoreManagement.Common/obj/Debug/netcoreapp3.1/PizzaStoreManagement.Common.csproj.CoreCompileInputs.cache
Service/PizzaStoreManagement.Common/obj/Debug/netcoreapp3.1/PizzaStoreManagement.Common.csproj.FileListAbsolute.txt
Service/PizzaStoreManagement.Common/obj/Debug/netcoreapp3.1/PizzaStoreManagement.Common.csprojAssemblyReference.cache
Service/PizzaStoreManagement.Common/obj/Debug/netcoreapp3.1/PizzaStoreManagement.Common.dll
Service/PizzaStoreManagement.Common/obj/Debug/netcoreapp3.1/PizzaStoreManagement.Common.pdb
Service/PizzaStoreManagement.Common/bin/Debug/netcoreapp3.1/PizzaStoreManagement.Common.deps.json
Service/PizzaStoreManagement.Common/bin/Debug/netcoreapp3.1/PizzaStoreManagement.Common.dll
Service/PizzaStoreManagement.Common/bin/Debug/netcoreapp3.1/PizzaStoreManagement.Common.pdb
